<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/uniadmin">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/uniadmin/list">Record Programme</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/uniadmin/review">Review Applications</a>
      </li>
      <li class="nav-item">
          <form method='post' action='/logout'>
            <button type="submit" class="btn btn-secondary">Logout</button>
          </form>
      </li>    
    </ul>
  </div>  
</nav>


<div class="form-group col-md-8 " style="margin: auto;margin-bottom: 300px;">
<h3 style="margin-top: 30px;">{{viewTitle}}</h3>

<form action="/uniadmin" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{programme._id}}">
    <div class="form-group">
        <label>Programme name</label>
        <input type="text" class="form-control" name="programmeName" placeholder="programme Name" value="{{programme.programmeName}}">
        <div class="text-danger">
            {{programme.programmeNameError}}</div>
    </div>
    <div class="form-group">
        <label>Date</label>
        <input type="Date" class="form-control" name="closingDate" placeholder="closing Date" value="{{programme.closingDate}}">
        <div class="text-danger">
            {{programme.closingDateError}}</div>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea type="text" class="form-control" name="description" placeholder="description" value="{{programme.description}}"></textarea>
        <div class="text-danger">
            {{programme.descriptionError}}</div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info" id="submit"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/uniadmin/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>

</div>
