<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/sasadmin">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/sasadmin/list">Maintain Qualifications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sasadmin/uniList">Add New University</a>
      </li>
      <li class="nav-item">
          <form method='post' action='/logout'>
            <button type="submit" class="btn btn-secondary">Logout</button>
          </form>
      </li>    
    </ul>
  </div>  
</nav>

<div class="form-group col-md-6 " style="margin: auto;margin-bottom: 300px;">
  <h3 style="margin-top: 30px;">{{viewTitle}}</h3>

  <form action="/sasadmin" method="POST" autocomplete="off">
      <input type="hidden" name="_id" value="{{qualification._id}}">
      <div class="form-group">
          <label>Qualification Name</label>
          <input type="text" class="form-control" name="qualificationName" placeholder="qualification Name" value="{{qualification.qualificationName}}">
          <div class="text-danger">
              {{qualification.qualificationNameError}}</div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-6">
              <label>Minimum Score</label>
              <input type="text" class="form-control" name="minimumScore" placeholder="minimum Score" value="{{qualification.minimumScore}}">
              <div class="text-danger">
              {{qualification.minimumScoreError}}</div>
          </div>
          <div class="form-group col-md-6">
              <label>Maximum Score</label>
              <input type="text" class="form-control" name="maximumScore" placeholder="maximum Score" value="{{qualification.maximumScore}}">
              <div class="text-danger">
              {{qualification.maximumScoreError}}</div>
          </div>
      </div>
      <div class="form-group">
          <label>Result Calculation Description</label>
          <textarea type="text" class="form-control" name="resultCalcDescription" placeholder="resultCalcDescription" >{{qualification.resultCalcDescription}}</textarea>
          <div class="text-danger">
              {{qualification.resultCalcDescriptionError}}</div>
      </div>
      <div class="form-group">
          <label>Grade List</label>
          <textarea type="text" class="form-control" name="gradeList" placeholder="gradeList">{{qualification.gradeList}}</textarea>
          <div class="text-danger">
              {{qualification.gradeListError}}</div>
      </div>
      
      <div class="form-group">
          <button type="submit" class="btn btn-info" id="submit"><i class="fa fa-database"></i> Submit</button>
          <a class="btn btn-secondary" href="/sasadmin/list"><i class="fa fa-list-alt"></i> View All</a>
      </div>
  </form>
</div>