<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/sasadmin">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/sasadmin/list">Maintain Qualifications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sasadmin/uniList">Add New University</a>
      </li>
      <li class="nav-item">
          <form method='post' action='/logout'>
            <button type="submit" class="btn btn-secondary">Logout</button>
          </form>
      </li>    
    </ul>
  </div>  
</nav>

<div class="form-group col-md-8 " style="margin: auto;margin-bottom: 300px;">
  <h3 style="margin-top: 30px;">{{viewTitle}}
    <a class="btn btn-secondary" href="/sasadmin/addUniAdmin/{{ID}}" style="float: right;" id="add"><i class="fa fa-plus" ></i> Create New</a>
</h3>
    
<table class="table table-striped">
    <thead>
        <tr>
            <th>Admin Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.userName}}</td>
            <td>
                <a href="/sasadmin/addUniAdmin/{{this._id}}" id="{{this.universityName}}.update"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/sasadmin/addUniAdmin/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

</div>
